<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capabilities</key>
	<dict>
		<key>accelerometer</key>
		<true/>
		<key>accessibility</key>
		<true/>
		<key>additional-text-tones</key>
		<true/>
		<key>applicationInstallation</key>
		<true/>
		<key>armv6</key>
		<true/>
		<key>armv7</key>
		<true/>
		<key>bluetooth</key>
		<true/>
		<key>device-name</key>
		<string>iPod</string>
		<key>encode-aac</key>
		<true/>
		<key>encrypted-data-partition</key>
		<true/>
		<key>gamekit</key>
		<true/>
		<key>h264-encoder</key>
		<true/>
		<key>hardware-keyboard</key>
		<true/>
		<key>homescreen-wallpaper</key>
		<true/>
		<key>hw-snapshots-need-purplegfx</key>
		<false/>
		<key>international-settings</key>
		<true/>
		<key>io-surface-backed-images</key>
		<true/>
		<key>launch-mode</key>
		<string>post-animate</string>
		<key>load-thumbnails-while-scrolling</key>
		<true/>
		<key>location-services</key>
		<true/>
		<key>marketing-name</key>
		<string>iPod touch</string>
		<key>microphone</key>
		<true/>
		<key>multitasking</key>
		<true/>
		<key>nike-ipod</key>
		<true/>
		<key>opengles-1</key>
		<true/>
		<key>opengles-2</key>
		<true/>
		<key>peer-peer</key>
		<true/>
		<key>photo-stream</key>
		<true/>
		<key>piezo-clicker</key>
		<false/>
		<key>shoebox</key>
		<true/>
		<key>software-dimming-alpha</key>
		<integer>0</integer>
		<key>stand-alone-contacts</key>
		<true/>
		<key>tv-out-crossfade</key>
		<true/>
		<key>voice-control</key>
		<true/>
		<key>volume-buttons</key>
		<true/>
		<key>wifi</key>
		<true/>
		<key>hide-non-default-apps</key>
		<false/>
	</dict>
	<key>iconState</key>
	<dict>
		<key>buttonBar</key>
		<array>
			<string>com.apple.MobileSMS</string>
			<string>com.apple.mobilemail</string>
			<string>com.apple.mobilesafari</string>
			<string>com.apple.mobileipod</string>
		</array>
		<key>iconLists</key>
		<array>
			<array>
				<string>com.apple.MobileAddressBook</string>
				<string>com.apple.mobilecal</string>
				<string>com.apple.mobileslideshow</string>
				<string>com.apple.videos</string>
				<string>com.apple.stocks</string>
				<string>com.apple.Maps</string>
				<string>com.apple.weather</string>
				<string>com.apple.Shoebox</string>
				<string>com.apple.mobilenotes</string>
				<string>com.apple.reminders</string>
				<string>com.apple.mobiletimer</string>
				<string>com.apple.gamecenter</string>
				<dict>
					<key>displayName</key>
					<string>Newsstand</string>
					<key>listType</key>
					<string>newsstand</string>
					<key>iconLists</key>
					<array>
						<array/>
					</array>
				</dict>
				<string>com.apple.MobileStore</string>
				<string>com.apple.AppStore</string>
				<string>com.apple.Preferences</string>
			</array>
			<array>
				<dict>
					<key>defaultDisplayName</key>
					<string>Utilities</string>
					<key>iconLists</key>
					<array>
						<array>
							<string>com.apple.calculator</string>
							<string>com.apple.VoiceMemos</string>
						</array>
					</array>
				</dict>
			</array>
		</array>
	</dict>
</dict>
</plist>
